@font-face {
  font-family: "iconfont"; /* Project id 2354567 */
  src: url('iconfont.woff2?t=1662708314656') format('woff2'),
       url('iconfont.woff?t=1662708314656') format('woff'),
       url('iconfont.ttf?t=1662708314656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-ui-facebook:before {
  content: "\e653";
}

.el-ui-github:before {
  content: "\e64c";
}

.el-ui-linkedin:before {
  content: "\e64d";
}

.el-ui-telegram:before {
  content: "\e64e";
}

.el-ui-discord:before {
  content: "\e64f";
}

.el-ui-medium:before {
  content: "\e650";
}

.el-ui-twitter:before {
  content: "\e651";
}

.el-ui-youtube:before {
  content: "\e652";
}

.el-ui-biyanjing:before {
  content: "\e901";
}

.el-ui-yanjing-:before {
  content: "\e64b";
}

.el-ui-a-strayticket:before {
  content: "\e6b6";
}

.el-ui-back:before {
  content: "\e617";
}

.el-ui-rise:before {
  content: "\e6b1";
}

.el-ui-Refuse:before {
  content: "\e6b2";
}

.el-ui-Decline:before {
  content: "\e6b4";
}

.el-ui-a-Ecology1:before {
  content: "\e69c";
}

.el-ui-load:before {
  content: "\e986";
}

.el-ui-honor-node:before {
  content: "\e604";
}

.el-ui-zu3671:before {
  content: "\e64a";
}

.el-ui-ETH:before {
  content: "\e60c";
}

.el-ui-bianji1:before {
  content: "\e649";
}

.el-ui-moon:before {
  content: "\e648";
}

.el-ui-zu145:before {
  content: "\e643";
}

.el-ui-zu144:before {
  content: "\e644";
}

.el-ui-zu143:before {
  content: "\e642";
}

.el-ui-zu146:before {
  content: "\e645";
}

.el-ui-zu171:before {
  content: "\e646";
}

.el-ui-zu147:before {
  content: "\e647";
}

.el-ui-bianji:before {
  content: "\e641";
}

.el-ui-zu279:before {
  content: "\e63c";
}

.el-ui-jianqu17:before {
  content: "\e63d";
}

.el-ui-zu277:before {
  content: "\e63e";
}

.el-ui-zu280:before {
  content: "\e63f";
}

.el-ui-zu278:before {
  content: "\e640";
}

.el-ui-Group:before {
  content: "\e637";
}

.el-ui-2:before {
  content: "\e638";
}

.el-ui-Group2:before {
  content: "\e639";
}

.el-ui-Groupququ:before {
  content: "\e63a";
}

.el-ui-Groupqu:before {
  content: "\e63b";
}

.el-ui-weisa:before {
  content: "\e635";
}

.el-ui-ada:before {
  content: "\e636";
}

.el-ui-de:before {
  content: "\e623";
}

.el-ui-Group201:before {
  content: "\e634";
}

.el-ui-Group10:before {
  content: "\e628";
}

.el-ui-Group211:before {
  content: "\e62a";
}

.el-ui-Group9:before {
  content: "\e62b";
}

.el-ui-Group14:before {
  content: "\e62c";
}

.el-ui-Group15:before {
  content: "\e62d";
}

.el-ui-Grop10:before {
  content: "\e62e";
}

.el-ui-up10:before {
  content: "\e62f";
}

.el-ui-oup10:before {
  content: "\e630";
}

.el-ui-zu22:before {
  content: "\e631";
}

.el-ui-fa:before {
  content: "\e632";
}

.el-ui-asa:before {
  content: "\e633";
}

.el-ui-333:before {
  content: "\e610";
}

.el-ui-4241:before {
  content: "\e611";
}

.el-ui-asd:before {
  content: "\e612";
}

.el-ui-aff:before {
  content: "\e613";
}

.el-ui-fsds:before {
  content: "\e614";
}

.el-ui-Group5:before {
  content: "\e615";
}

.el-ui-Group12:before {
  content: "\e616";
}

.el-ui-Group17:before {
  content: "\e618";
}

.el-ui-Group28:before {
  content: "\e619";
}

.el-ui-Group21:before {
  content: "\e61a";
}

.el-ui-Group4:before {
  content: "\e61b";
}

.el-ui-Group20:before {
  content: "\e61c";
}

.el-ui-Group24:before {
  content: "\e61d";
}

.el-ui-lujing69:before {
  content: "\e61e";
}

.el-ui-lujing70:before {
  content: "\e61f";
}

.el-ui-menu-left:before {
  content: "\e620";
}

.el-ui-ic_notification:before {
  content: "\e621";
}

.el-ui-ic_attachment:before {
  content: "\e622";
}

.el-ui-zu62:before {
  content: "\e624";
}

.el-ui-zu54:before {
  content: "\e625";
}

.el-ui-zu291:before {
  content: "\e626";
}

.el-ui-da:before {
  content: "\e627";
}

.el-ui-xinfeng:before {
  content: "\e629";
}

