.about {
  text-align: center;
  min-height: calc(100vh - 250px);
  overflow: hidden;
  &-img {
    margin-top: 10vh;
    img {
      width: 80px;
    }
  }
  &-warp {
    display: inline-flex;
    width: 450px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: left;
    &-link {
      display: block;
      width: 30%;
      @extend %ellipsis-one;
      margin-left: 3%;
    }
    &-popover {
      display: block;
      width: 30%;
      margin-left: 3%;
      .el-popover__reference-wrapper {
        display: block;
        a {
          width: 100%;
        }
      }
    }
  }
  &-box {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 30px;
    p {
      font-size: 14px;
    }
    img {
      width: 40%;
    }
    &-content {
      height: 120px;
      position: relative;
    }
    .el-button {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 8px 10px;
    }
  }
}
.error {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &-link {
    @include font_color("color-primary1");
    font-weight: bolder;
  }
}
