.help {
  display: flex;
  justify-content: space-between;
  &-title {
    position: relative;
    &-text {
      margin-left: 10px;
    }
    .header-user-massage-item-line {
      width: 5px;
      height: 60%;
      top: 20%;
    }
  }
  &-left {
    width: 300px;
    margin-right: 30px;
    height: 80vh;
    &-menu {
      height: 35vh;
      padding-bottom: 20px;
    }
  }
  &-right {
    flex: 1;
    height: 82vh;
    padding-bottom: 20px;
    @include background_color("background-color1");
    box-shadow: 0px 2px 6px rgba(28, 41, 90, 0.04);
    border-radius: 20px;
    &-box {
      padding: 20px;
      padding-bottom: 0;
    }
  }

  &-menu-title {
    @extend %ellipsis-one;
    display: block;
  }
  .el-menu-item.is-active {
    border-radius: 10px;
    @include background_color("background-color10");
  }
  .el-menu-item:focus,
  .el-menu-item:hover {
    border-radius: 10px;
  }
  .el-menu-item,
  .el-submenu__title {
    height: 35px;
    line-height: 35px;
  }
}
