/* theme variable */
$themes: (
  // light
  light:
    (
      // light theme
      color-primary: #3961f5,
      color-primary-second: #5e81f7,
      color-text-primary: #242f57,
      color-text-regular: #4a5373,
      color-text-secondary: #83889c,
      color-info: #a9acb9,
      color-success: #04b78a,
      color-warning: #f2a626,
      color-danger: #ee2e6b,
      border-color-base: #d2d5e1,
      border-color-light: #3961f5,
      border-color-lighter: #97a0c3,
      border-color-extra-light: #fafcfe,
      background: #fff,
      background-content: #f4f7fc,
      background-color: #eaedf7,
      color-module: #f4f7fc,
      color-cut: #eaedf7,
      color-modal: #ffffff,
      color-modal-cup: #ffffff,
      background-from: #ffffff,
      logo-text: #3961f5,
      color-title: #242f57,
      color-text: #4a5373,
      color-text1: #636e95,
      background-linear: linear-gradient(270deg, #eef2ff 0%, #ffffff 100%),
      border-color: #eaedf7,
      border-color1: #dfe5f9,
      border-color2: #cfd0d5,
      border-color3: #eaedf7,
      color-icon1: #1dc611,
      color-icon2: #00cccc,
      color-icon3: #2381ff,
      color-icon4: #fc833e,
      color-primary1: #3961f5,
      color-primary2: #3961f5,
      color-icon5: #242f57,
      color-border1: #3961f5,
      color-primary3: #3961f5,
      background-color1: #fff,
      background-color2: #eaedf7,
      background-color3: #fafcfe,
      background-color4: #f5f5f5,
      background-color5: #f4f7fc,
      background-color6: #dbf7f0,
      background-color7: #dde4ee,
      background-color8: #f4faff,
      background-color9: #fafcfe,
      background-color10: #e1e8fb
    ),
  //dart light theme
  dark:
    (
      color-primary: #3961f5,
      color-primary-second: #5e81f7,
      color-text-primary: #ffffff,
      color-text-regular: #ffffff,
      color-text-secondary: rgba(255, 255, 255, 0.5),
      color-info: rgba(255, 255, 255, 0.5),
      color-success: #04b78a,
      color-warning: #f2a626,
      color-danger: #ee2e6b,
      border-color-base: #45557e,
      border-color-light: #5e81f7,
      border-color-lighter: #45557e,
      border-color-extra-light: #2b3757,
      background: #1d2742,
      background-content: #13192f,
      background-color: #1d2742,
      color-module: #1d2742,
      color-cut: #1d2742,
      color-modal: #2b3757,
      color-modal-cup: #45557e,
      background-from: #16203a,
      logo-text: #ffffff,
      color-title: rgba(255, 255, 255, 0.9),
      color-text: rgba(255, 255, 255, 0.7),
      color-text1: rgba(255, 255, 255, 0.8),
      background-linear: linear-gradient(270deg, #243258 0%, #1e2e57 100%),
      border-color: #252d42,
      border-color1: transparent,
      border-color2: #4b506c,
      border-color3: #2f3e65,
      color-icon1: #bbbec6,
      color-icon2: #bbbec6,
      color-icon3: #bbbec6,
      color-icon4: #bbbec6,
      color-primary1: #5e81f7,
      color-primary2: rgba(255, 255, 255, 0.9),
      color-icon5: #e3e3e3,
      color-border1: rgba(255, 255, 255, 0.4980392156862745),
      color-primary3: rgba(255, 255, 255, 0.8),
      background-color1: #1d2742,
      background-color2: #404563,
      background-color3: #16203a,
      background-color4: #252e48,
      background-color5: #4451ad,
      background-color6: #175855,
      background-color7: #404563,
      background-color8: #1d2742,
      background-color9: #16203a,
      background-color10: #2c3b67,
    )
);
