@font-face {
  font-family: "PingFang-Medium";
  src: url("../font/PingFang-Medium/PingFang-Medium.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
$font-family: "PingFang-Medium", "Microsoft YaHei", "Times New Roman", Arial, Times, sans-serif, serif;
$color-title: #242f57;
$color-text: #4a5373;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-32: 32px;
